[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlglot = "*"
"marshmallow-dataclass[union, enum]" = "*"
pyyaml = "*"

[dev-packages]
isort = "*"
pytest = "*"
flake8 = "*"
mypy = "*"
black = "*"
types-PyYAML = "*"

[requires]
python_version = "3.8"